
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}

#timeselect {
    border-radius: 20px;
    background-color: #ffffff00;
    margin-left: 10px;
}

.tradingbots {
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    max-height: 1000vh;
    text-align: center;
    padding: 10px;
}

.tb__main-block {
    margin-bottom: 40px;
}

.stoploss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stoploss_simple-element {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.stoploss__element-text {
    margin: 0 10px;
    background-color: #eee;
    border-radius: 10px;
    width: 150px;
    padding: 5px;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.stoploss__element-percent {
    margin: 0 10px;
    background: #eee;
    background: linear-gradient(90deg, #eee 55%, rgba(0,0,0,1) 45%);
    border-radius: 20px;
    width: 75px;
    padding: 5px;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__left {
    text-align: left;
}

.tb__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
    max-width: 600px;
}

.btn {
    /* min-width: 100px; */
    height: 50px;
    border-color: #ffffff00;
    border-style:solid;
    border-radius: 15px;
    /* border-color: rgba(114, 114, 114, 0); */
    background-color: #ffffff00;
    font-weight: 500;
    font-size: large;
    transition: 0.2s;
}

.btn:hover {
    border-color: rgba(74, 118, 205, 0.59);
    /* box-shadow: 0px 0px 5px 0px rgba(126, 157, 219, 0.47); */
}

.activebtn {
    border-color: #0000ff;
    height: 50px;
    background-color: #ffffff00;
    border-style:solid;
    border-radius: 15px;
    font-weight: 500;
    font-size: large;
    transition: 0.2s;
}

.btns__div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 300px;
  }
  input[type=range]:focus {
    outline: none;
    cursor: default;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    cursor: default;
    box-shadow: none;
    background: rgb(57, 119, 236);
    border-radius: 1.3px;
    border: none;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #0040ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
  }
  
#creditshoulderinput {
    text-align: center;
    border: none;
    width: 20px;
    appearance: none;
}

.stoploss-input {
    text-align: center;
    border: none;
    width: 20px;
    appearance: none;
}

.shoulderdiv {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: right;
    margin: auto;
    margin: 10px;
}

.plusminusbtn {
    border-radius: 50%;
    background-color: #ffffff00;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 1rem;

}

.plusminusbtn:active {
    background-color: #eee;
    border-color: #999;
}

.savebtn {
    font-size: 1.5rem;
    background-color: rgb(0, 60, 255);
    border-radius: 30px;
    border: none;
    color: white;
    width: 300px;
    height: 50px;
}

.savebtn:active {
    background-color: rgb(0, 110, 255);
}



.rulemodule {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.rulemodule__header {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.rulemodule__header-delbtn {
    border-radius: 50%;
    background-color: #ffffff00;
    border: none;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 2rem;
    transform: rotate(45deg);
}

.rulemodule__body {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f1f1;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 15px 10px 0 10px;
    transition: 0.1s linear;
}

.rulemodule__body-go {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.rulemodule__body-go_item {
    margin-bottom: 10px;
}

.rulemodule__body-go_time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
}

.rulemodule__body-item {
    margin-right: 10px;
    display: inline;
}

.rulemodule__body-selectcoin {
    height: 25px;
}

.rulemodule__body-selectother {
    height: 25px;
    width: 95x;
}

.Ifrulemodule_body-item {
    display: inline;
    margin-bottom: 15px;
}

.IfRule-modeBlock {
    display: inline;
}

.ActionRuleModule-item {
    display: flex;
    flex-direction: column;
}

.addmodule-btn {
    height: 50px;
    width: 120px;
    margin-right: 10px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 1.5rem;
    transition: 1s;
}

.hidden {
    display: none;
    transform: translate(-50%,-50%);
    transition: 1s;
}

.addmodule-btn_div {
    display: flex;
    flex-direction: row-reverse;
    transition: 1s;
}

.addmodule-otherbtn_div {
    overflow: hidden;
    transition: 2s;
}

.datepicker-input {

  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

#datetimeinput {
    border-radius: 5px;
    border: none;
    box-shadow: -1px 3px 5px 0px rgba(34, 60, 80, 0.2);
    height: 30px;
    width: 200px;
    font-size: 1rem;
    padding: 0 10px 0 10px;
}

#rulename {
    border-radius: 5px;
    border: none;
    box-shadow: -1px 3px 5px 0px rgba(34, 60, 80, 0.2);
    height: 30px;
    width: 100%;
    font-size: 1rem;
    padding-left: 10px;
    box-sizing: border-box;
}

.openbtns {
    background-color: #eee;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    transition: 0.5s;
    font-size: 2rem;
}

.rotateopenbtns {
    transform: rotate(-45deg);
}
